/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/styles/hero.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/

.gradient-home
{
    z-index: -1;
}

.social-icons
{
    border-radius: 35%;
}

.hero{
    height: 100vh;
}
  .hero-image {

    background-image: url("/preview.jpg");
    background-position: center;
    background-size: cover;
  }
  
